<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Groomers Inc.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<style></style>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Groomers Inc.", "AdminIndex", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                }
                else if (User.IsInRole("User"))
                {
                    @Html.ActionLink("Groomers Inc.", "UserIndex", "Users", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {

                    @Html.ActionLink("Groomers Inc.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Home", "AdminIndex", "Admin")</li>

                    }
                    else if (User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("Home", "UserIndex", "Users")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Customer", "AdminCustomerList", "Customer")</li>

                        }
                        else if (User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
                        }

                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Pet", "AdminPetList", "Pet")</li>

                        }
                        else if (User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Pet", "Index", "Pet")</li>
                        }

                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
                            <li>@Html.ActionLink("Appointment", "Index", "Appointment")</li>
                        }

                        if (User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Book Appointment", "UserIndex", "Users")</li>
                        
                        }

                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Groomers Inc.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
