@model Groomers.Models.PetDetail

@{
    ViewBag.Title = "Delete";
}

<h3>Remove Pet</h3>

<h4>Are you sure you want to remove pet?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonID)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |

            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Back to List", "AdminPetList", "Pet")

            }
            else if (User.IsInRole("User"))
            {
                @Html.ActionLink("Back to List", "Index")
            }

        </div>
    }
</div>
