@model Groomers.Models.PetDetail

@{
    ViewBag.Title = "Pet Profile";
}

<h2>Pet Profile</h2>

<style>

    .Profile {
        margin-left: 2em;
        max-width: 35em;
    }

    dt {
        margin-top: 10px;
    }

    dd {
        padding-top: 10px;
    }

    #personID {
        margin-top: 8px;
    }

    h4 {
        font-weight: bold;
    }

    #maxTable {
        max-width: 30em;
    }

    #tableDiv {
        text-align: left;
        margin-left: 4em;
    }


    .booking {
        height: 10em;
        padding-top: .5em;
        margin-top: 0em;
        margin-left: 5em;
        text-align: left;
    }
</style>

<div class="Profile">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeOfDog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeOfDog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.Appointments)
            </dt>*@
        @*<dd>
                @foreach (var p in Model.Appointments)
                {
                    <ul>

                        <li>
                            @Html.DisplayNameFor(model => p.AppointmentDate)
                            @Html.DisplayFor(model => p.AppointmentDate, new { htmlAttributes = new { @class = "form-control" } })
                        </li>
                        <li>
                            @Html.DisplayNameFor(model => p.StartTime)
                            @Html.DisplayFor(model => p.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                        </li>
                    </ul>
                }
            </dd>*@
    </dl>
</div>

<div class="container" id="tableDiv">
    <h4>Appointments</h4>
    <div class="alt-table-responsive">

        <table class="table table-hover table-responsive table-bordered" id="maxTable">
            <thead>
                <tr>
                    <th class="tableColumn" scope="col">Date</th>
                    <th class="tableColumn2" scope="col">Time</th>
                </tr>
            </thead>
            @foreach (var p in Model.Appointments)
            {
                <tbody>
                    <tr>
                        <td> @Html.DisplayFor(model => p.AppointmentDate, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>  @Html.DisplayFor(model => p.StartTime, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>

<div class="booking">
    <h4>Book Another Appointment</h4>
    <table class="table-responsive" id="BookingTable" align="left">
        <thead>
            <tr>
                <th scope="col">@Html.Partial("SearchDate", new Groomers.Models.SearchDatePV())</th>

            </tr>
        </thead>
    </table>
</div>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PetID }) |

    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Back to List", "AdminPetList", "Pet")

    }
    else if (User.IsInRole("User"))
    {
        @Html.ActionLink("Back to List", "UserIndex", "Users")
    }

</p>
