@model IEnumerable<Groomers.Models.PetListItem>

@{
    ViewBag.Title = "Pet List";
}

<h2>Your Pets</h2>

<p>
    @Html.ActionLink("Add A New Pet", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table table-hover table-responsive">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.PetID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeOfDog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHairLong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.PersonID)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
                @Html.HiddenFor(modelItem => item.PetID)
                @*@Html.DisplayFor(modelItem => item.PetID)*@
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeOfDog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHairLong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.PersonID)
                </td>*@
            <td>
                @Html.ActionLink("Profile", "Details", new { id = item.PetID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.PetID }) |
                @Html.ActionLink("Remove", "Delete", new { id = item.PetID })
            </td>
        </tr>
    }
</table>

<div>
     @Html.ActionLink("Back to Home", "UserIndex", "Users")
</div>

