@{
    ViewBag.Title = "Welcome Customers!";
}



<div class="jumbotron">
    <h1>Admin Page...whoop whoop</h1>
    <p class="lead">Admin Page is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

<div class="row">
    <div class="col-sm-3">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Manage Roles</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@Html.ActionLink("View Roles", "Index", "Role")</li>
                <li class="list-group-item">@Html.ActionLink("Add A Role", "Create", "Role")</li>
                <li class="list-group-item">@Html.ActionLink("Register User", "RegisterRoles", "Account")</li>

            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Manage Customers</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@Html.ActionLink("Create Customer", "Create", "Customer")</li>
                <li class="list-group-item">@Html.ActionLink("See Cusomters", "AdminCustomerList", "Customer")</li>
                <li class="list-group-item">@Html.ActionLink("Add Pet", "AdminCreate", "Pet")</li>
                <li class="list-group-item">@Html.ActionLink("See Pets", "AdminPetList", "Pet")</li>

            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Manage Appointments</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@Html.ActionLink("Create Appointments", "Create", "Appointment")</li>
                <li class="list-group-item">@Html.ActionLink("View/Edit/Delete Appointments", "Index", "Appointment")</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Manage Staff</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@Html.ActionLink("Add Staff", "Create", "Employee")</li>
                <li class="list-group-item">@Html.ActionLink("View/Update/Delete Staff", "Index", "Employee")</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>

