@model IEnumerable<Groomers.Models.AppointmentListItem>

@{
    ViewBag.Title = "List of Appointments";
}

<style>
    #bookingBar {
        padding: 0px 8px 0px 8px;
    }
</style>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<div class="bookingDiv">
    <table class="table-responsive" id="BookingTable" align="right">
        <thead>
            <tr >
                <th id="bookingBar" scope="col"> <p>Book An App</p></th>
                <th scope="col">@Html.Partial("_AnotherSearchDate", new Groomers.Models.SearchDatePV())</th>

            </tr>
        </thead>
    </table>
</div>

<h2>Appointments on Schedule</h2>

<p>
    @Html.ActionLink("Create New Appointments", "Create")
</p>



<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AppointmentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AppointmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AppointmentID })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to Home", "AdminIndex", "Admin")
</p>
