@model IEnumerable<Groomers.Models.AppointmentListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Appointments On Display For Booking</h2>

<p>
    @Html.ActionLink("Create New Appointments", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAvailable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AppointmentID }) |
            @Html.ActionLink("Details", "Details", new { id = item.AppointmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AppointmentID })
        </td>
    </tr>
}

</table>
