@model IEnumerable<Groomers.Models.AppointmentSelect>

@{
    ViewBag.Title = "Search By Date";
}

<style>
   #table{
        max-width: 55em;
    }
</style>
<h2>Select Appointment</h2>
<div>
    <table class="table-responsive" id="BookingTable" align="left">
        <thead>
            <tr>
                <th scope="col">@Html.Partial("_AnotherSearchDate", new Groomers.Models.SearchDatePV())</th>

            </tr>
        </thead>
    </table>
</div>


<table class="table table-hover" id="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.AppointmentID)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.HiddenFor(modelItem => item.AppointmentID)
        @*@Html.DisplayFor(modelItem => item.AppointmentID)*@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @if (item.IsAvailable == true)
                {
                    @Html.ActionLink("Book", "BookAppointment", new { id = item.AppointmentID })
                }
                else
                {<p>Not Available</p>}
            </td>
            <td></td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to Home", "UserIndex", "Users")
</p>


